/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* elementi in background */
.background{
    position: relative;
    background-color: hsl(67deg 10% 84%);
    height: 100vh;
}

.barra-verde{
    background-color: hsl(174deg 100% 29%);
    height: 30vh;
}

/* elementi nel main container */
.main-container{
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

/* colonna di sinistra */
.colonna-sinistra{
    width: 35%;
    height: 100%;
}

.barra-grigia{
    height: 50px;
    width: 100%;
    background-color: hsl(0deg 0% 92%);
    display: flex;
    align-items: center;
    padding: 10px;
}

.nome-utente{
    display: flex;
    align-items: center;
}

.barra-grigia img{
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.notifiche-nuovimes{
    height: 60px;
    width: 100%;
    background-color: hsl(199deg 95% 77%);
}

.barra-ricerca{
    height: 40px;
    width: 100%;
    background-color: hsl(0deg 0% 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.barra-ricerca button{
    width: 20%;
    padding: 5px;
}

.barra-ricerca input{
    width: 80%;
    padding: 5px;
}

.container-contatti li{
    list-style: none;
}

.casella-contatto{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.casella-contatto img{
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}


/* ******* debug ******** */
.debug .colonna-sinistra{
    background-color: rgb(255, 255, 102);
}