/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

/* elementi in background */
.background{
    position: relative;
    background-color: hsl(67deg 10% 84%);
    height: 100vh;
}

.barra-verde{
    background-color: hsl(174deg 100% 29%);
    height: 30vh;
}

/* elementi nel main container */
.main-container{
    height: 80%;
    width: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    
}

/* colonna di sinistra */

/* barra grigia in alto */
.colonna-sinistra{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.barra-grigia{
    height: 50px;
    width: 100%;
    background-color: hsl(0deg 0% 92%);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}

.nome-utente{
    display: flex;
    align-items: center;
}

.barra-grigia img{
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.icons-side{
    display: flex;
    align-items: center;
}

.icons-side i{
    margin: 0 6px;
    color: hsl(0deg 0% 69%);
}



/* Barra per le notifiche */
.notifiche-nuovimes{
    height: 60px;
    width: 100%;
    background-color: hsl(199deg 95% 77%);
    display: flex;
    align-items: center;
    padding: 10px;
}

.cerchio{
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
}

.notifiche-nuovimes i{
    font-size: 15pt;
    color: hsl(199deg 95% 77%);
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.testo-notifiche p{
    font-size: 9pt;
    color: hsl(197deg 30% 5%);
}

.testo-notifiche a{
    font-size: 8pt;
}




/* Barra per la ricerca */
.barra-ricerca{
    height: 40px;
    width: 100%;
    background-color: hsl(0deg 0% 98%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
}

.barra-ricerca button{
    width: 20%;
    padding: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.barra-ricerca input{
    width: 80%;
    padding: 5px;
    border: 1px solid lightgray;
}



/* Container per i contatti */
.container-contatti{
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}



.container-contatti li{
    list-style: none;
}

.casella-contatto{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.casella-contatto img{
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    
}


/* colonna di destra */
.colonna-destra{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-messaggi{
    height: calc(100% - 70px);
    display: flex;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
    padding: 30px;
    flex-direction: column;
}

.messaggi{
    width: 100%;
    margin-bottom: 20px;
}

.message-text{
    max-width: 40%;
    padding: 10px;
    border-radius: 20px; 
    

}

.data-ora{
    font-size: 9pt;
    color: rgb(192, 192, 192);
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: 5px;
}

.message-text.sent{
    background-color: hsl(94deg 84% 85%);
    margin-left: auto;
    
}

.message-text.received{
    background-color: white;
}

.fa-smile, .fa-microphone{
    color: hsl(196deg 5% 44%);
}


.active{
    background-color: hsl(180deg 5% 92%); 
}







/* ******* debug ******** */
/* .debug .colonna-sinistra{
    background-color: rgb(255, 255, 102);
} */

/* .debug .mess-ricevuti{
    background-color: lightgrey;
}

.debug .mess-inviati{
    background-color: lightgreen;
} */