/* commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* elementi in background */
.background{
    position: relative;
    background-color: hsl(67deg 10% 84%);
    height: 100vh;
}

.barra-verde{
    background-color: hsl(174deg 100% 29%);
    height: 30vh;
}

/* elementi nel main container */
.main-container{
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
}

/* colonna di sinistra */

/* barra grigia in alto */
.colonna-sinistra{
    width: 35%;
    height: 100%;
}

.barra-grigia{
    height: 50px;
    width: 100%;
    background-color: hsl(0deg 0% 92%);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    z-index: 1;
}

.nome-utente{
    display: flex;
    align-items: center;
}

.barra-grigia img{
    object-fit: cover;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.icons-side{
    display: flex;
    align-items: center;
}

.icons-side i{
    margin: 0 6px;
    color: hsl(0deg 0% 69%);
}



/* Barra per le notifiche */
.notifiche-nuovimes{
    height: 60px;
    width: 100%;
    background-color: hsl(199deg 95% 77%);
    display: flex;
    align-items: center;
    padding: 10px;
}

.cerchio{
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 10px;
}

.notifiche-nuovimes i{
    font-size: 15pt;
    color: hsl(199deg 95% 77%);
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.testo-notifiche p{
    font-size: 10pt;
    color: hsl(197deg 30% 5%);
}

.testo-notifiche a{
    font-size: 9pt;
}




/* Barra per la ricerca */
.barra-ricerca{
    height: 40px;
    width: 100%;
    background-color: hsl(0deg 0% 98%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.barra-ricerca button{
    width: 20%;
    padding: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.barra-ricerca input{
    width: 80%;
    padding: 5px;
    border: 1px solid lightgray;
}



/* Container per i contatti */
.container-contatti li{
    list-style: none;
}

.casella-contatto{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.casella-contatto img{
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}


/* colonna di destra */
.colonna-destra{
    width: 65%;
    height: 100%;
    background-image: url(img/mine.jpg);
    display: flex;
    position: relative;
}

.mess-ricevuti{
    width: 50%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
}

.mess-inviati{
    width: 50%;
    position: absolute;
    right: -0%;
    top: 20%;
    display: flex;
    justify-content: center;
}

.text-ricevuto{
    width: 250px;
    height: 50px;
    background-color: white;
    border-radius: 20em;
}

.text-inviato{
    width: 250px;
    height: 50px;
    background-color: hsl(94deg 84% 85%);
    border-radius: 20em;

}












/* ******* debug ******** */
/* .debug .colonna-sinistra{
    background-color: rgb(255, 255, 102);
} */

/* .debug .mess-ricevuti{
    background-color: lightgrey;
}

.debug .mess-inviati{
    background-color: lightgreen;
} */